<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ev.linbo.backend.modules.lms.mapper.LmsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ev.linbo.backend.modules.lms.model.LmsOrder">
        <id column="id" property="id" />
        <result column="order_action" property="orderAction" />
        <result column="weight" property="weight" />
        <result column="weight_unit" property="weightUnit" />
        <result column="amount" property="amount" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="user_sn" property="userSn" />
        <result column="origin" property="origin" />
        <result column="destination" property="destination" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="order_status" property="orderStatus" />
        <result column="payment_status" property="paymentStatus" />
        <result column="payment_time" property="paymentTime" />
        <result column="price" property="price" />
        <result column="new_delivery_sn" property="newDeliverySn" />
        <result column="archived" property="archived" />
    </resultMap>

    <select id="getOrderList" resultType="com.ev.linbo.backend.modules.lms.model.LmsOrder">
        select o.*
        from lms_order_item_relation oi left join lms_order o on oi.order_id = o.id
        where oi.item_id = #{itemId}
    </select>

    <select id="getOrderPriceCount" resultType="java.lang.Float">
        select sum(price)
        from lms_order
        where location = #{location} and payment_time > #{date} and archived = false
    </select>

    <select id="getPreciseOrderList" resultType="com.ev.linbo.backend.modules.lms.model.LmsOrder">
        select *
        from lms_order
        where delivery_sn = #{deliverySn} and user_sn = #{userSn} and archived = false
    </select>

</mapper>
